<div>
  <%= link_to "Logout", logout_path, {class: 'btn logout-btn', remote: true} %>
  <div>
    <a>Create Bet</a>
  </div>
  <div>
    <a>Pending Bets</a>
  </div>
  <div>
    <a>My Bets</a>
  </div>
  <div>
    <a>Friend's Bets</a>
  </div>
</div>
